{% extends "todo/base_two.html" %}

{% block content %}

<h4 style="color: red;
        font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans',
          Arial, sans-serif;
        padding: 10px;">Completed todos</h4>
<h6 style="color: red;
        font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans',
          Arial, sans-serif;
        padding: 10px;">Pick a past Todo and use it over again! </h6>

<ul>
    <table border="2" width="75%">
        <col style="width:20%">
        <col style="width:30%">
        <col style="width:8%">
        <tr class="toprow">
            <th>Completed on:</th>
            <th>Memo</th>
            <th></th>
        </tr>

        {% for todo in todos %}

        <tr aria-rowspan="1">

            {% if todo.important %}
            <td style="font-weight: bold">{{ todo.datecompleted | date:'M j Y H:i' }}</td>
            <td style="font-weight: bold">{{ todo.title }}</td>
            <td><button ><a class="btn btn-primary" href="{% url 'retrievetodo' todo.id %}">Retrieve</a></button></td>

            {% else %}
            <td>{{ todo.datecompleted | date:'M j Y H:i' }}</td>
            <td>{{ todo.title }}</td>
            <td><button><a class="btn btn-primary" href="{% url 'retrievetodo' todo.id %}">Retrieve</a></button></td>
            {% endif %}
            {% if todo.important %}</b>{% endif %}

        </tr>

        {% endfor %}
    </table>
    <br>

    <button><a class="btn btn-primary" href="{% url 'currenttodos' %}">Back to Upcoming</a></button>
</ul>
<style>
    .toprow {
  background-color: red;
  color: #fff;

  table {
  border: 1px solid black;
  border-collapse: collapse;
}

table tr td,
table tr th {
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid black;
  border-collapse: collapse;
  line-height: 0.9;
}

table, tr {
    border: 1px solid black;
}


</style>


{% endblock %}
