{% extends 'todo/base.html' %}

{% block content %}

{% load static %}
<style type="text/css" media="all">
.imgHolder {float: left; margin: 0 120px 10px 0;}
</style>
<br>
<div class="row justify-content-center mt-5">
    <div class="col-md-6">

        {% if todos %}
             <h1>{{ todos.count }} Upcoming ToDo{{ todos.count|pluralize }}</h1>
        {% else %}
            <h1>Current ToDos</h1>
        {% endif %}

    </div>
    <div class="col-md-5">
        <h1>ToDay is ❤{% now "l" %} </h1>

    </div>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-md-10">
    {% if todos %}
        <div class="list-group">
            {% for todo in todos %}
                <a href="{% url 'viewtodo' todo.id %}" class="list-group-item list-group-item-action {% if todo.important %} list-group-item-danger {% else %} list-group-item-info {% endif %}">From {{todo.created | date:'l H:i' }}<b> {{ todo.title }}</b>{% if todo.memo %} - {{ todo.memo|truncatechars:80}}{% endif %}</a>
            {% endfor %}
        </div>
    {% else %}
        <p class="imgHolder"><img src="{% static 'todo/goodjob.gif' %}" width="120px", border-radius="50px" /></p>
        <div class="text-center">
                <h2>Looks like you have no ToDos!</h2>
            <br>
            <a role="button" class="btn btn-primary" href="{% url 'createtodo' %}">New Todo</a>
        </div>
    {% endif %}
    </div>
</div>

{% endblock %}


